---
name: "CI"
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  build-packages:
    name: "Package: ${{ matrix.package }}"
    strategy:
      fail-fast: false
      matrix:
        package:
          - prepare-test-secrets
          - run-cmd-with-lock
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: holster
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            lazy-trees = true
      - run: nix build ".#${{ matrix.package }}" -L
  build-home:
    needs: [build-packages]
    name: "Home: ${{ matrix.config }}"
    strategy:
      fail-fast: false
      matrix:
        config:
          - "fkoehler@fkt14"
          - "fkoehler@desktop"
          - "fkoehler@desktop-ubuntu"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: holster
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            lazy-trees = true
      - run: nix run ".#prepare-test-secrets"
      - run: nix build ".#homeConfigurations.${{ matrix.config }}.activationPackage" -L
  build-nixos:
    needs: [build-packages]
    name: "NixOs: ${{ matrix.host }}"
    strategy:
      fail-fast: false
      matrix:
        host:
          - fkt14
          - desktop
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: holster
      - uses: DeterminateSystems/determinate-nix-action@v3
        with:
          extra-conf: |
            lazy-trees = true
      - run: nix run ".#prepare-test-secrets"
      - run: nix build ".#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel" -L
